<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../css/ById.css' rel='stylesheet' />
</head>
<body>
    {{> navBar }}

<div class='dContainer'>
    <img src='{{house.welcomeThumbnail}}' class='imgProductId'/>
    <div class='carProduct'>
      <h1>{{house.welcomeTitle}}</h1>
      <p>{{house.welcomeContent}}</p>
    <a href="https://api.whatsapp.com/send?phone=58{{house.phone}}&text=Buenas%20tardes" target="blank_" class="wspLink">
        <button>Quiero más información</button>
    </a>
    </div>
</div>


<div class="beneficios">
    <div class="carD">     
        <img src='{{house.benefitThumbnail1}}'/>
        <div class="textHouse">
          <h3>{{house.benefitTitle1}}</h3>
          <p>{{house.benefitContent1}}</p>
        </div>
    </div>
        <div class="carD">     
        <img src='{{house.benefitThumbnail2}}'/>
        <div class="textHouse">
          <h3>{{house.benefitTitle2}}</h3>
          <p>{{house.benefitContent2}}</p>
        </div>
    </div>
        <div class="carD">     
        <img src='{{house.benefitThumbnail3}}'/>
        <div class="textHouse">
          <h3>{{house.benefitTitle3}}</h3>
          <p>{{house.benefitContent3}}</p>
        </div>
    </div>
</div>

<div class="detalles">
  <h2>Sientete en casa</h2>
  <p>Las agradables áreas sociales de este inmueble son versátiles y espaciosas</p>
  <div class="espacios">
    <div class="izquierda">
      <div>
        <h3>{{house.detailTitle1}}</h3>
        <p>{{house.detailBenefit1}}</p>
      </div>
      <div>
        <h3>{{house.detailTitle2}}</h3>
        <p>{{house.detailBenefit2}}</p>
      </div>
    </div>
    <div>
        <img src='{{house.detailThumbnail}}'/>
    </div>
    <div class="derecha">
      <div>
        <h3>{{house.detailTitle3}}</h3>
        <p>{{house.detailBenefit3}}</p>
      </div>
      <div>
        <h3>{{house.detailTitle4}}</h3>
        <p>{{house.detailBenefit4}}</p>
      </div>
    </div>
  </div>
</div>

<div class="citas">
  <h3>PIDE TU CITA Y CONOCELO</h3>
  <p>Los acabados de este PH son de primera, totalmente manejable, funcional y disfrutable, definitivamente una propiedad ideal.</p>
  
    <a href="https://api.whatsapp.com/send?phone={{house.phone}}&text=Buenas%20tardes" target="blank_" class="wspLink">
        <button>Quiero más información</button>
    </a>
  
</div>

<div class="seller">
  <div>
    <img src='{{house.avatar}}' class='imgProductId'/>
  </div>
  <div>
    <h3>{{house.name}}</h3>
    <p><b>Inmobiliaria</b></p>
    <p>{{house.description}}</p>
    <p><b>Número telefónico: +58 {{house.phone}}</b></p>
  </div>
</div>
    {{> footer }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
</body>
</html>
