<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../css/ById.css' rel='stylesheet' />
        <!-- Meta Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '655197935847537');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=655197935847537&ev=PageView&noscript=1"
        /></noscript>
      <!-- End Meta Pixel Code -->
</head>
<body>

{{> navBar }}

<div class='dContainer'>
    <img src='{{house.welcomeThumbnail}}' class='imgProductId'/>
    <div class='carProduct'>
      <h1>{{house.welcomeTitle}}</h1>
      <p>{{house.welcomeContent}}</p>
    <a href="https://api.whatsapp.com/send?phone=58{{house.phone}}&text=Buenas%20tardes" target="blank_" class="wspLink">
        <button>Quiero más información</button>
    </a>
    </div>
</div>


<div class="beneficios">
    <div class="carD">     
        <img src='{{house.benefitThumbnail1}}'/>
        <div class="textHouse">
          <h3>{{house.benefitTitle1}}</h3>
          <p>{{house.benefitContent1}}</p>
        </div>
    </div>
        <div class="carD">     
        <img src='{{house.benefitThumbnail2}}'/>
        <div class="textHouse">
          <h3>{{house.benefitTitle2}}</h3>
          <p>{{house.benefitContent2}}</p>
        </div>
    </div>
        <div class="carD">     
        <img src='{{house.benefitThumbnail3}}'/>
        <div class="textHouse">
          <h3>{{house.benefitTitle3}}</h3>
          <p>{{house.benefitContent3}}</p>
        </div>
    </div>
</div>

<div class="detalles">
  <h2>Sientete en casa</h2>
  <p>Las agradables áreas sociales de este inmueble son versátiles y espaciosas</p>
  <div class="espacios">
    <div class="izquierda">
      <div>
        <h3>{{house.detailTitle1}}</h3>
        <p>{{house.detailBenefit1}}</p>
      </div>
      <div>
        <h3>{{house.detailTitle2}}</h3>
        <p>{{house.detailBenefit2}}</p>
      </div>
    </div>
    <div>
        <img src='{{house.detailThumbnail}}'/>
    </div>
    <div class="derecha">
      <div>
        <h3>{{house.detailTitle3}}</h3>
        <p>{{house.detailBenefit3}}</p>
      </div>
      <div>
        <h3>{{house.detailTitle4}}</h3>
        <p>{{house.detailBenefit4}}</p>
      </div>
    </div>
  </div>
</div>

<div class="citas">
  <h3>PIDE TU CITA Y CONOCELO</h3>
  <p>Los acabados de este PH son de primera, totalmente manejable, funcional y disfrutable, definitivamente una propiedad ideal.</p>
  
    <a href="https://api.whatsapp.com/send?phone={{house.phone}}&text=Buenas%20tardes" target="blank_" class="wspLink">
        <button>Quiero más información</button>
    </a>
  
</div>

<div class="seller">
  <div>
    <img src='{{house.avatar}}' class='imgProductId'/>
  </div>
  <div>
    <h3>{{house.name}}</h3>
    <p><b>{{house.cargo}}</b></p>
    <p>{{house.description}}</p>
    <p><b>Número telefónico: +58 {{house.phone}}</b></p>
  </div>
</div>
{{> footer }}
</body>
</html>