<head>
  <link href='../css/ById.css' rel='stylesheet' />
</head>

{{> navBar }}

<div class='dContainer'>
  <img src='{{house.welcomeThumbnail}}' class='imgProductId'/>
  <div class='carProduct'>
    <h2>{{house.welcomeTitle}}</h2>
    <p>{{house.welcomeContent}}</p>
    <a href="https://api.whatsapp.com/send?phone=58{{house.phone}}&text=Buenas%20tardes" target="blank_" class="wspLink">
      <button>Quiero más información</button>
    </a>
  </div>
</div>


<div class="beneficios">
  <div class="carD">     
    <img src='{{house.benefitThumbnail1}}'/>
    <div class="textHouse">
      <h3>{{house.benefitTitle1}}</h3>
      <p>{{house.benefitContent1}}</p>
    </div>
  </div>
    <div class="carD">     
    <img src='{{house.benefitThumbnail2}}'/>
    <div class="textHouse">
      <h3>{{house.benefitTitle2}}</h3>
      <p>{{house.benefitContent2}}</p>
    </div>
  </div>
    <div class="carD">     
    <img src='{{house.benefitThumbnail3}}'/>
    <div class="textHouse">
      <h3>{{house.benefitTitle3}}</h3>
      <p>{{house.benefitContent3}}</p>
    </div>
  </div>
</div>

<div class="detalles">
  <br>
  <h2>Su inmueble a tan sólo una firma!</h2>
  <h4>El mercado inmobiliario siempre es una oportunidad en Venezuela</h4>
  <div class="espacios">
    <div class="izquierda">
      <div>
        <h3>{{house.detailTitle1}}</h3>
        <p>{{house.detailBenefit1}}</p>
      </div>
      <div>
        <h3>{{house.detailTitle2}}</h3>
        <p>{{house.detailBenefit2}}</p>
      </div>
    </div>

    <img src='{{house.detailThumbnail}}'/>

    <div class="derecha">
      <div>
        <h3>{{house.detailTitle3}}</h3>
        <p>{{house.detailBenefit3}}</p>
      </div>
      <div>
        <h3>{{house.detailTitle4}}</h3>
        <p>{{house.detailBenefit4}}</p>
      </div>
    </div>
  </div>
</div>

<div class="citas">
  <h3>PIDE TU CITA Y CONOCELO</h3>
  <p>"La inversión inmobiliaria, incluso para el más pequeño de los inversores, 
    sigue siendo una forma probada y verdadera de construir riqueza a largo plazo."</p>

  <p> - Robert Kiyosaki, empresario, autor y orador motivacional estadounidense.</p>
  
  <a href="https://api.whatsapp.com/send?phone=58{{house.phone}}&text=Buenas%20tardes" target="blank_" class="wspLink">
    <button>Quiero más información</button>
  </a>
</div>

<div class="seller">
  <img src='{{house.avatar}}' class='imgProductId'/>
  <div>
    <h3>{{house.name}}</h3>
    <h4>{{house.description}}</h4>
    <p><b>Número telefónico:</b></p>
    <p>+58 {{house.phone}}</p>
  </div>
</div>
{{> footer }}