{{> navbarUser }}
<div class="user">
  <h1 class="textAlign">Bienvenido Admin: {{username}}</h1>
  <div class="displayFlexCenter">
      <div class="userAccount">
            <h3>Datos personales:</h3>
            <hr>
            <h4>Nombre: {{name}}</h4>
            <hr>
            <h4>Cargo: {{cargo}}</h4>
            <hr>
            <h4>Descripción: {{description}}</h4>
            <hr>
            <h4>Tlf: {{phone}}</h4>
            <hr>
            <img src="{{avatar}}" class="imgUserAccount" alt="avatar">
      </div>
      <div>
        <div class="productosprueba">
          {{#each housesByName}} 
            <div class='cardProduct'>
              <img src='{{thumbnail}}' alt='{{title}}' class="imgProduct" />
              <div class= "productInfo">
                <p class='card-text'>Precio: ${{price}}</p>
                <p class='card-text'>Ubicación: {{location}}</p>
              </div>
              <a href="/ventas/{{_id}}"><button class="buttonPreview">Ver detalles</button></a>
              <a href="/update/{{_id}}"><button class="buttonPreview">Actualizar</button></a>
              <a href="/delete/{{_id}}"><button class="buttonPreview">Eliminar</button></a>
            </div> 
          {{/each}}
        </div>
      </div>
  </div>
</div>
